* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: cursive;
    font-size: 50px;
    text-align: center;
    color: white;
}
.board {
  margin: 100px auto;
  border-collapse: collapse;
}

.board td {
  background-color: gray;
  border:5px solid white;
  width: 100px;
  height: 100px;
}
.board td:hover {
    background-color: #c3c3c3;
}